.portfolio{
    background-color: #f5ece9;
}

.portfolio p.title{
    font-size: 60px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.portfolio .title span{
    font-weight: bold;
}
ul{
    justify-content: center;
    margin-bottom:30px ;
}
a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    cursor: pointer;
}
a:hover,
a.active{
    background-color: #eb5424;
    color: #fff;
}

.img-div{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4,auto);
}

.img-div img{
    max-width:100%;
    height: 100%;
}
.img-div .box-img{
    position: relative;
}
.img-div .box-img .overlay{
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(235, 84, 36, .5) ;
    font-size: 15px;
    opacity: 0;


}
.img-div .box-img .overlay span{
    position: absolute;
    background: #fff;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #eb5424;
}
.img-div .box-img .overlay:hover{
    opacity: 1;
}